### Imports

In [2]:
import pandas
import matplotlib.pyplot
from scipy import stats
import datetime
%matplotlib qt

### Data reading

In [3]:
data=pandas.read_csv("./TempratureData.csv")

In [4]:
data

          date  temprature
0   2022-08-03   27.429552
1   2022-08-04   27.440382
2   2022-08-05   26.785380
3   2022-08-06   26.327880
4   2022-08-07   26.468300
5   2022-08-08   26.833717
6   2022-08-09   26.387049
7   2022-08-10   25.835386
8   2022-08-11   25.686630
9   2022-08-12   25.603302
10  2022-08-13   25.650797
11  2022-08-14   25.657465
12  2022-08-15   25.968720
13  2022-08-16   25.596634
14  2022-08-17   25.541216

In [5]:
data.columns

Index(['date', 'temprature'], dtype='object')

### Dividing into X and Y

In [6]:
psudo_x=[i[8:] for i in data['date']]

In [7]:
datetime.date(int(data['date'][0][:4]),int(data['date'][0][5:7]),int(data['date'][0][8:]))

datetime.date(2022, 8, 3)

In [8]:
x=[datetime.datetime.toordinal(datetime.date(int(i[:4]),int(i[5:7]),int(i[8:]))) for i in data['date']]

In [9]:
x

[738370,
 738371,
 738372,
 738373,
 738374,
 738375,
 738376,
 738377,
 738378,
 738379,
 738380,
 738381,
 738382,
 738383,
 738384]

In [10]:
y=data['temprature']

### Plotting Scatter Plot of Data

In [11]:
matplotlib.pyplot.figure('Mumbai Last 2 Week Temprature')
matplotlib.pyplot.scatter(psudo_x,y,label="Original Data")
matplotlib.pyplot.xlabel('Dates of August 2022')
matplotlib.pyplot.legend()
matplotlib.pyplot.show()

### Taking slope, intercept, regression-coefficient and other values

In [12]:
slope, intercept, r, p, std_err = stats.linregress(x,y)
print("Slope -> ",slope,"\nintercept -> ",intercept,"\nr -> ",r,"\np -> ",p,"\nstd_err -> ",std_err)

Slope ->  -0.13092699285714288
intercept ->  96699.69436554525
r ->  -0.885953273539861
p ->  1.1055054294643819e-05
std_err ->  0.01900875074544775

### Plotting Original of Data with line of regression

In [60]:
matplotlib.pyplot.figure('Mumbai Last 2 Week Temprature ')
matplotlib.pyplot.scatter(psudo_x,y,label="Original Data")
regressionline=[intercept+slope*i for i in x]
matplotlib.pyplot.plot(psudo_x,regressionline,label="Line of Regression")
matplotlib.pyplot.xlabel('Dates of August 2022')
matplotlib.pyplot.legend()
matplotlib.pyplot.show()